header {
    background-color: grey;
    color: lightgrey;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    place-content: center;
    align-items: center;
    margin: 15px;
}
#navContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: left;
    place-content: space-between;
    align-items: center;
    padding:10px;
    margin: 30px;
}
#hero-image {
    display:flex;
    margin: 15px;
}
#subBanners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    place-content: space-between;
    align-items: center;
    margin: 15px;
}
article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    place-content: space-between;
    align-items: center;
    margin: 15px;
}


.scroll {
    margin:15px;
    padding: 4px;
    width: 350px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    
}
h3{
    font-size: 20px;
    text-align: start;
    margin: 5px;
}
button {

    width: 200px;
    height:50px; 
    transition: 350ms;
    align-content: left;

}
#wordbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    place-content: space-between;
    align-items: center;
    margin: 15px;
}
button:hover{
    background-color: grey;
    
}
footer {
    background-color: grey;
    height: 150px;
}